.result {
    position: relative;
    width: 320px;
    height: 80px;
    padding: 8px;
    overflow: hidden;
    background-color: rgba(19, 19, 19, 0.64);
    font-size: 32px;
    line-height: 2;
    color: #d7e0ec;
    text-align: right;
    white-space: nowrap;
    box-sizing: border-box;
  }